/* Custom page CSS
-------------------------------------------------- */
html {
	scroll-behavior: smooth;
}

a:-webkit-any-link:focus-visible {
	outline-offset: 0px;
}

:focus-visible {
	outline: -webkit-focus-ring-color auto 0px;
}

.base {
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #3d6fae;
}

a.link {
	font-size: 0.9375rem;
	color: #3d6fae;
	font-weight: 600;
	text-decoration: underline;
}

a.link:hover{
	text-decoration: none;
}

/* Header */

header {
	background: url(../img/svg/background_1-01.svg) no-repeat top center;
	background-size: 100%;
	padding-top: 50px;
	padding-bottom: 30px;
}

@media (max-width: 1199px) {
	header{
		background-size: 1920px;
	}
}

img.logo {
	width: 120px;
	height: 120px;
}

.slogan {
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0;
}

.phone a {
	font-size: 15px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.email a {
	font-size: 15px;
	line-height: 2;
	font-weight: 500;
	text-decoration: underline;
	color: #000000;
}

.address span {
	font-size: 15px;
	line-height: 2;
	font-weight: 500;
	color: #000000;
}

.phone a:hover, .email a:hover {
	color: #5a6268;
}

.phone img{
	width: 19px;
}

.email img, .address img {
	width: 22px;
}

.social img {
	width: 36px;
}

.social a img:hover {
	opacity: 0.7;
}

/* Navbar */

.active a.nav-link{
	position: relative;
	right: 1.2em;
	padding-right: 1em !important;
}

nav .active a.nav-link:before {
	display: inline-block;
	color: #f22929;
	content: "";
	border-top: 0.8em solid;
	border-right: 0.6em solid transparent;
	border-bottom: 0;
	border-left: 0.6em solid transparent;
	position: relative;
	bottom: 23px;
	left: 50%;
}

.show .active a.nav-link:before {
	visibility: hidden;
}

nav .form-control {
	background-image: url(../img/svg/search.svg);
	background-repeat: no-repeat;
	background-position-x: 215px;
	background-position-y: center;
	background-size: 11%;
}

@media (max-width: 1199px) {
	nav .form-control {
		background-position-x: 155px;
	}
}
@media only screen and (min-width: 992px) {
	.dropdown:hover .dropdown-menu, .dropright:hover .dropdown-menu {
		display: block;
		/*margin: -1px 0 0 0;*/
	}
}
@media only screen and (max-width: 991px) {
	.dropdown-toggle::after {
		display: none;
	}
}

/* Slider */

.product-slider {
	background: url(../img/sloy_1_34.png) #f3f6fa no-repeat top center;
	background-repeat: repeat-x;
}

.carousel-caption {
	padding-bottom: 30px;
}

.carousel-caption h2 {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.024em;
	color: #ffffff;
}

.carousel-caption p {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 400;
	text-transform: none;
	letter-spacing: 0.024em;
	color: #ffffff;
}

.partners {
	background-color: #ffffff;
	box-shadow: -4px 2px 7px 0px rgb(224 229 235 / 46%);
	border-radius: 10px;
	padding: 31px 30px;
	justify-content: space-between;
	align-items: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.partners img {
	width: auto;
	transition: filter .1s ease-in-out;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	-webkit-transition: filter .1s ease-in-out;
	-moz-transition: filter .1s ease-in-out;
	-ms-transition: filter .1s ease-in-out;
	-o-transition: filter .1s ease-in-out;
}

.partners img:hover {
	-webkit-filter: grayscale(99%);
	filter: grayscale(99%);
}

.tab-partners {
	background-color: #718aa8;
	border-radius: 10px 10px 0px 0px;
	max-width: 200px;
	text-align: center;
	margin-left: 45px;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-ms-border-radius: 10px 10px 0px 0px;
	-o-border-radius: 10px 10px 0px 0px;
}

.tab-partners h3 {
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	margin: 0;
	padding: 13px 13px 10px;
}

@media (max-width: 1199px) {
	.carousel-caption h2 {
		font-size: 16px;
	}

	.carousel-caption p {
		font-size: 16px;
	}

	.carousel-caption {
		bottom: 15px;
		padding-bottom: 15px;
	}

	.carousel-indicators {
		bottom: -8px;
	}

	.partners img {
		max-width: 80px;
		max-height: 50px;
	}
}

/* Product Left Menu*/

.product-menu .dropright-item.active {
	background-color: #fff;
}

.product-menu .dropright-item.active a{
	font-weight: 700;
}

.product-menu .dropright-item {
	padding: 16px 21px 15px 12px;
	border-bottom: 1px solid #d4dae2;
	border-top: 1px solid transparent;
}

.product-menu .dropright-item > a {
	font-size: 1.05em;
	line-height: 1.2;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
}

.product-menu .dropright-item:hover > a {
	text-decoration: none;
	font-weight: 700;
	transition: 0.1s;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	-ms-transition: 0.1s;
	-o-transition: 0.1s;
}

.product-menu .dropright-item:hover {
	background-color: #fff;
	cursor: pointer;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.product-menu .dropright-item.parent:after{
	display: inline-block;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0.5em 0.7em 0.5em;
	border-color: transparent transparent transparent #f22929;
	position: absolute;
	right: 0;
	top: 20px;
}

.product-menu .nav-link.parent.active:after {
	display: inline-block;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0.5em 0.7em 0.5em;
	border-color: transparent transparent transparent #3d6fae;
	position: absolute;
	right: 0;
}

.product-menu .dropdown-menu {
	z-index: 100;
	width: 506px;
	background-color: #fff;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	border-bottom:0;
	border-left: 0;
	border-right: 0;
	margin: -1px 0 0 0;
	box-shadow: 1px 2px 3px 0px rgb(0 0 0 / 21%);
	border-radius: 0 12px 12px 0;
	-webkit-border-radius: 0 12px 12px 0;
	-moz-border-radius: 0 12px 12px 0;
	-ms-border-radius: 0 12px 12px 0;
	-o-border-radius: 0 12px 12px 0;
	cursor: auto;
}

.product-menu .nav-pills .nav-link {
	font-size: 14px;
	line-height: 1.2;
	font-weight: 700;
	color: #3d6fae;
	padding: 0.7rem 1rem;
	border-bottom: 1px solid #6f9bd1;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}

.product-menu .nav-pills .nav-link.active {
	background-color: transparent;
	text-decoration: underline;
}

.product-menu .nav-pills li:last-child .nav-link {
	border-bottom: 1px solid transparent;
}

#pills-tabContent ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#pills-tabContent ul > li > a {
	font-size: 14px;
	line-height: 1.2;
	font-weight: 500;
	color: #000000;
	padding: 12px 0;
	display: inherit;
}

/* Main Content */

.main-home {
	background: url(../img/svg/background_2-01.svg) no-repeat top right;
	background-size: 1430px;
}

.main-inner {
	background: url(../img/sloy_1_34.png) #f3f6fa no-repeat top center;
}

.inner-content-right {
	background: url(../img/sloy_1_34.png) #fff no-repeat top center;
	padding-bottom: 70px;
}

.inner-content-right img {
	margin-bottom: 20px;
	border: 1px solid #dee2e6 !important;
	padding: 2px;
}

.inner-content-right img.float-left {
	margin-right: 20px;
}

.main-showcase {
	background: url(../img/sloy_1_34.png) #fff no-repeat top center;
	margin-bottom: 30px;
}

.main-showcase a img {
	border: 20px solid #f3f6fa;
	max-width: 100%;
}

td a img {
	border: 0 !important;
	width: 22px;
}

.table-bordered td {
	font-weight: 500;
	font-size: 13.8px;
}

.h-common{
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
	text-align: center;
	margin-top: 10px;
}

.red-deco {
	border-left: 6px solid #f22929;
	padding-left: 20px;
	font-weight: 700;
	margin-bottom: 2.5rem!important;
}

.blue-deco {
	font-weight: 700;
	color: #3d6fae;
	font-size: 0.9375rem;
	margin-top: 0;
	margin-bottom: 1rem;
}

ul.red-sqr {
	margin: 1rem 0;
	padding-left: 0;
	list-style-type: none;
	display: inline-block;
}

ul.red-sqr li {
	padding-left: 1.6rem;
	background-image: url(../img/svg/list-item-icon.svg);
	background-position: 0 0.5rem;
	background-size: 0.6rem 0.6rem;
	background-repeat: no-repeat;
	margin-bottom: 1rem;
}

li.breadcrumb-item a {
	font-size: 13px;
	color: #3d6fae;
	font-weight: 500;
}

li.breadcrumb-item.active {
	font-weight: 500;
	color: #060606;
	font-size: 13px;
}

.home-page p {
	margin-bottom: 1.7rem;
}

.base-red {
	font-size: 16px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #f22929;
}

.strengths p {
	font-size: 14px;
	font-weight: 500;
	text-transform: none;
	color: #000000;
}

.strengths img {
	width: 40px;
	height: 40px;
	margin-right: 20px;
}

ul.red-round {
	margin: 0.6rem 0;
	padding-left: 0;
	list-style-type: none;
}

ul.red-round li {
	padding-left: 1rem;
	background-image: url(../img/svg/round-list-item.svg);
	background-position: 0 0.5rem;
	background-size: 0.5rem 0.5rem;
	background-repeat: no-repeat;
	margin-bottom: 0.3rem;
	font-size: 14px;
}

a.link-collapse {
	border-bottom: 1px dashed;
}

a.link-collapse:hover {
	text-decoration: none;
}

ul.red-round ul li {
	background-image: none;
	padding: 0;
	font-size: 12.5px;
}

a.collapse-readmore {
	border-bottom: 1px dashed;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 15px;
	display: inline-block;
	font-weight: 500;
	color: #000;
	font-style: italic;
}

a.collapse-readmore:hover {
	text-decoration: none;
}

.category img {
	width: 42px;
	height: auto;
}

/* News Block */

.news {
	background-color: #3d6fae;
}

.title-news {
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	margin-right: 25px;
	margin-bottom: 0;
}

#carouselExampleControls {
	padding: 0 45px;
}

span.all-items a {
	font-size: 14px;
	line-height: 1.2;
	font-weight: 700;
	text-decoration: underline;
	text-transform: uppercase;
	color: #0e0f0f;
	padding-top: 3px;
}

span.all-items a:hover {
	color: #fff;
}

p.card-text {
	font-size: 12px;
	line-height: 1.2;
	font-weight: 500;
	color: #000000;
	margin-bottom: 0.5rem;
}

.text-dated {
	font-size: 11px;
	line-height: 1.2;
	font-weight: 600;
	color: #124073;
	font-style: italic;
}

.carousel-control-prev-icon {
	background-image: url("../img/carousel_control_prev_icon.png");
}

.carousel-control-next-icon {
	background-image: url("../img/carousel_control_next_icon.png");
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	width: 20px;
	height: 35px;
}

.carousel-control-prev {
	justify-content: start;
	opacity: 1;
}

.carousel-control-next {
	justify-content: end;
	opacity: 1;
}

.card-body-img {
	padding: 0 0.4rem 0 0.65rem;
	display: flex;
	justify-content: center;
}

@media (max-width: 767px){
	.card-body-img {
		padding: 0.75rem 0 0 0;
	}
}

.news .card {
	border-radius: 0.1rem;
	-webkit-border-radius: 0.1rem;
	-moz-border-radius: 0.1rem;
	-ms-border-radius: 0.1rem;
	-o-border-radius: 0.1rem;
}

.news .card-body {
	padding: 0.75rem 0.75rem 0.95rem 0.4rem;
}

.card-link {
	font-family: Arial;
	font-style: italic;
	font-size: 12px;
	font-weight: 600;
}

.news-block .card-title {
	font-size: 14.5px;
	line-height: 1.3;
}

.news-block .text-dated {
	font-size: 12.4px;
}

.news-block .card {
	height: calc(100% - 1rem);
}

.news-block .card:hover {
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
	overflow: hidden;
}

.news-block a:hover {
	text-decoration: none;
}

.news-block img {
	max-width: 100%;
	max-height: 221px;
	object-fit: cover;
	border-radius: 0.25rem 0.25rem 0 0;
	padding: 0;
	border: none !important;
}

.news-block .card:hover img {
	opacity: 0.9;
}

.news-block .col-lg-6 {
	margin-bottom: 5px;
}

/* Subscribe */

.subscribe {
	background-color: #355176;
	background-image: url(../img/svg/background_3-01.svg);
	background-size: 1920px;
}

.subscribe-title {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}

.small-conf {
	display: inline-block;
	font-size: 12px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
	text-align: right;
}

@media (min-width: 992px) {
	.subscribe input#name-input {
		border-radius: 10px 0px 0px 10px;
		height: 41px;
		-webkit-border-radius: 10px 0px 0px 10px;
		-moz-border-radius: 10px 0px 0px 10px;
		-ms-border-radius: 10px 0px 0px 10px;
		-o-border-radius: 10px 0px 0px 10px;
	}
	.subscribe input#email-input, .subscribe input#phone-input{
		border-radius: 0;
		height: 41px;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		-ms-border-radius:0;
		-o-border-radius:0;
	}
	.subscribe button {
		border-radius: 0px 10px 10px 0px;
		width: 149px;
		height: 41px;
		background-color: #1e1f21;
		-webkit-border-radius: 0px 10px 10px 0px;
		-moz-border-radius: 0px 10px 10px 0px;
		-ms-border-radius: 0px 10px 10px 0px;
		-o-border-radius: 0px 10px 10px 0px;
	}
}

/* Map */

.map-eps {
	border-top: 5px solid #fff;
}

/* Bottom block */

ul.eps-list li {
	margin-bottom: 8px;
}

ul.eps-list li a {
	font-size: 14px;
	font-weight: 500;
	color: #000000;
}

ul.eps-list li a:hover {
	color: #5a6268;
}

/* Footer */

.wrapper {
	min-height: calc(100vh - 90px);
}

footer {
	height: 90px;
}

#btnScroll {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	cursor: pointer;
}

#btnScroll img {
	width: 52px;
}