/* Custom page CSS
-------------------------------------------------- */

.base {
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #3d6fae;
}

/* Header */

header {
	/*background: url(../img/header_bg.png) no-repeat top right;*/
	background: url(../img/svg/background_1-01.svg) no-repeat top right;
	background-size: 1920px;
	padding-top: 50px;
	padding-bottom: 30px;
}

img.logo {
	width: 120px;
	height: 120px;
}

.slogan {
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0;
}

.phone a {
	font-size: 15px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.email a {
	font-size: 15px;
	line-height: 2;
	font-weight: 500;
	text-decoration: underline;
	color: #000000;
}

.address span {
	font-size: 15px;
	line-height: 2;
	font-weight: 500;
	color: #000000;
}

.phone a:hover, .email a:hover {
	color: #5a6268;
}

.phone img{
	width: 19px;
}

.email img, .address img {
	width: 22px;
}

.social img {
	width: 36px;
}

.social a img:hover {
	opacity: 0.7;
}

/* Navbar */

.active a.nav-link{
	position: relative;
	right: 1.2em;
	padding-right: 1em !important;
}

nav .active a.nav-link:before {
	display: inline-block;
	color: #f22929;
	content: "";
	border-top: 0.8em solid;
	border-right: 0.6em solid transparent;
	border-bottom: 0;
	border-left: 0.6em solid transparent;
	position: relative;
	bottom: 23px;
	left: 50%;
}

.show .active a.nav-link:before {
	visibility: hidden;
}

nav .form-control {
	background-image: url(../img/svg/search.svg);
	background-repeat: no-repeat;
	background-position-x: 215px;
	background-position-y: center;
	background-size: 11%;
}

@media (max-width: 1199px) {
	nav .form-control {
		background-position-x: 155px;
	}
}
@media only screen and (min-width: 992px) {
	.dropdown:hover .dropdown-menu, .dropright:hover .dropdown-menu {
		display: block;
		margin-top: 0;
	}
}
@media only screen and (max-width: 991px) {
	.dropdown-toggle::after {
		display: none;
	}
}

/* Slider */

.product-slider {
	background: url(../img/sloy_1_34.png) #f3f6fa no-repeat top center;
}

.carousel-caption {
	padding-bottom: 30px;
}

.carousel-caption h2 {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.024em;
	color: #ffffff;
}

.carousel-caption p {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 400;
	text-transform: none;
	letter-spacing: 0.024em;
	color: #ffffff;
}

.partners {
	background-color: #ffffff;
	box-shadow: -4px 2px 7px 0px rgb(224 229 235 / 46%);
	border-radius: 10px;
	padding: 31px 30px;
	justify-content: space-between;
	align-items: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.partners img {
	width: auto;
	transition: filter .1s ease-in-out;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	-webkit-transition: filter .1s ease-in-out;
	-moz-transition: filter .1s ease-in-out;
	-ms-transition: filter .1s ease-in-out;
	-o-transition: filter .1s ease-in-out;
}

.partners img:hover {
	-webkit-filter: grayscale(99%);
	filter: grayscale(99%);
}

.tab-partners {
	background-color: #718aa8;
	border-radius: 10px 10px 0px 0px;
	max-width: 200px;
	text-align: center;
	margin-left: 45px;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-ms-border-radius: 10px 10px 0px 0px;
	-o-border-radius: 10px 10px 0px 0px;
}

.tab-partners h3 {
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	margin: 0;
	padding: 13px 13px 10px;
}

@media (max-width: 1199px) {
	.carousel-caption h2 {
		font-size: 16px;
	}

	.carousel-caption p {
		font-size: 16px;
	}

	.carousel-caption {
		bottom: 15px;
		padding-bottom: 15px;
	}

	.carousel-indicators {
		bottom: -8px;
	}

	.partners img {
		max-width: 80px;
		max-height: 50px;
	}
}

/* Product Left Menu*/

.product-menu .dropright-item.active {
	background-color: #fff;
}

.product-menu .dropright-item.active a{
	font-weight: 700;
}

.product-menu .dropright-item {
	padding: 17px 10px;
	border-bottom: 1px solid #d4dae2;
}

.product-menu .dropright-item > a {
	font-size: 1.05em;
	line-height: 1.2;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
}

.product-menu .dropright-item:hover > a {
	text-decoration: none;
	font-weight: 700;
	transition: 0.1s;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	-ms-transition: 0.1s;
	-o-transition: 0.1s;
}

.product-menu .dropright-item:hover {
	background-color: #fff;
	cursor: pointer;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.product-menu .dropright-item.parent:after{
	display: inline-block;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0.5em 0.7em 0.5em;
	border-color: transparent transparent transparent #f22929;
	position: absolute;
	right: 0;
}

.product-menu .nav-link.parent.active:after {
	display: inline-block;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0.5em 0.7em 0.5em;
	border-color: transparent transparent transparent #3d6fae;
	position: absolute;
	right: 0;
}

.product-menu .dropdown-menu {
	z-index: 100;
	width: 506px;
	background-color: #fff;
	border: 0;
	margin: 0;
	box-shadow: 1px 2px 3px 0px rgb(0 0 0 / 21%);
	border-radius: 0 12px 12px 0;
	-webkit-border-radius: 0 12px 12px 0;
	-moz-border-radius: 0 12px 12px 0;
	-ms-border-radius: 0 12px 12px 0;
	-o-border-radius: 0 12px 12px 0;
	cursor: auto;
}

.product-menu .nav-pills .nav-link {
	font-size: 14px;
	line-height: 1.2;
	font-weight: 700;
	color: #3d6fae;
	padding: 0.7rem 1rem;
	border-bottom: 1px solid #6f9bd1;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}

.product-menu .nav-pills .nav-link.active {
	background-color: transparent;
	text-decoration: underline;
}

.product-menu .nav-pills li:last-child .nav-link {
	border-bottom: 1px solid transparent;
}

#pills-tabContent ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#pills-tabContent ul > li > a {
	font-size: 14px;
	line-height: 1.2;
	font-weight: 500;
	color: #000000;
	padding: 12px 0;
	display: inherit;
}

/* Main Content */

.main-content {
	/*background: url(../img/background_2-01.png) no-repeat top right;*/
	background: url(../img/svg/background_2-01.svg) no-repeat top right;
	background-size: 1430px;
}

p.red-deco {
	border-left: 6px solid #f22929;
	padding-left: 20px;
	font-weight: 700;
	margin-bottom: 2.5rem!important;
}

.home-page p {
	margin-bottom: 1.7rem;
}

.base-red {
	font-size: 16px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #f22929;
}

.strengths p {
	font-size: 14px;
	font-weight: 500;
	text-transform: none;
	color: #000000;
}

.strengths img {
	width: 40px;
	height: 40px;
	margin-right: 20px;
}

span.bg-icon {
	width: 40px;
	height: 40px;
	background-color: #d4d9e1;
	border-radius: 50%;
	padding: 6px;
	margin-right: 20px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

/* News Block */

.news {
	background-color: #3d6fae;
}

.title-news {
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	margin-right: 25px;
	margin-bottom: 0;
}

#carouselExampleControls {
	padding: 0 45px;
}

span.all-items a {
	font-size: 14px;
	line-height: 1.2;
	font-weight: 700;
	text-decoration: underline;
	text-transform: uppercase;
	color: #0e0f0f;
	padding-top: 3px;
}

span.all-items a:hover {
	color: #fff;
}

p.card-text {
	font-size: 12px;
	line-height: 1.2;
	font-weight: 500;
	color: #000000;
	margin-bottom: 0.5rem;
}

.text-dated {
	font-size: 11px;
	line-height: 1.2;
	font-weight: 600;
	color: #124073;
	font-style: italic;
}

.carousel-control-prev-icon {
	background-image: url("../img/carousel_control_prev_icon.png");
}

.carousel-control-next-icon {
	background-image: url("../img/carousel_control_next_icon.png");
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	width: 20px;
	height: 35px;
}

.carousel-control-prev {
	justify-content: start;
	opacity: 1;
}

.carousel-control-next {
	justify-content: end;
	opacity: 1;
}

.card-body-img {
	padding: 0 0.4rem 0 0.65rem;
	display: flex;
	justify-content: center;
}

@media (max-width: 767px){
	.card-body-img {
		padding: 0.75rem 0 0 0;
	}
}

.news .card {
	border-radius: 0.1rem;
	-webkit-border-radius: 0.1rem;
	-moz-border-radius: 0.1rem;
	-ms-border-radius: 0.1rem;
	-o-border-radius: 0.1rem;
}

.news .card-body {
	padding: 0.75rem 0.75rem 0.95rem 0.4rem;
}

/* Subscribe */

.subscribe {
	background-color: #355176;
	/*background-image: url(../img/background_3-01.png);*/
	background-image: url(../img/svg/background_3-01.svg);
	background-size: 1920px;
}

.subscribe-title {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}

.small-conf {
	display: inline-block;
	font-size: 12px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
	text-align: right;
}

@media (min-width: 992px) {
	.subscribe input#name-input {
		border-radius: 10px 0px 0px 10px;
		height: 41px;
		-webkit-border-radius: 10px 0px 0px 10px;
		-moz-border-radius: 10px 0px 0px 10px;
		-ms-border-radius: 10px 0px 0px 10px;
		-o-border-radius: 10px 0px 0px 10px;
	}
	.subscribe input#email-input, .subscribe input#phone-input{
		border-radius: 0;
		height: 41px;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		-ms-border-radius:0;
		-o-border-radius:0;
	}
	.subscribe button {
		border-radius: 0px 10px 10px 0px;
		width: 149px;
		height: 41px;
		background-color: #1e1f21;
		-webkit-border-radius: 0px 10px 10px 0px;
		-moz-border-radius: 0px 10px 10px 0px;
		-ms-border-radius: 0px 10px 10px 0px;
		-o-border-radius: 0px 10px 10px 0px;
	}
}

/* Map */

.map-eps {
	border-top: 5px solid #fff;
}

/* Bottom block */

ul.eps-list li {
	margin-bottom: 8px;
}

ul.eps-list li a {
	font-size: 14px;
	font-weight: 500;
	color: #000000;
}

ul.eps-list li a:hover {
	color: #5a6268;
}

/* Footer */

.wrapper {
	min-height: calc(100vh - 90px);
}

footer {
	height: 90px;
}